body {
  margin: 0;

  overflow-y: hidden;
  width: 100%;
  height: 100vh;
background: linear-gradient(8.63deg, #7AD532 -3.09%, #1CD7F6 112.86%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
