@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* .main{
  position: absolute;
width: 806px;
height: 806px;
left: 557px;
top: 97px;

background: rgba(255, 255, 255, 0.05);


border: 1px solid #F2F2F2;
box-sizing: border-box;
} */

header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page1 {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
  }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}



.main{
  position: absolute;
width: 806px;
height: 806px;
left: 557px;
top: 97px;

background: rgba(255, 255, 255, 0.05);
/* Gray 6 */

border: 1px solid #F2F2F2;
box-sizing: border-box;
}
.form {

  z-index: 1;
 
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  /* text-align: center; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}

.loginform{
  
  position: absolute;
  width: 537px;
  height: 537px;
  left: 307px;
  top: 32px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 50%;
}


.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 2%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.input-container{
    margin-bottom: 15px;
}

.input-container1{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}


.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.error{
    color: red;
    margin: 10px;
}



.center{
    display: flex;
    justify-content: center;
    justify-items: center
}

.centerimg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
}


.centerimg img{
  position: absolute;
    top: 18%;
  width: 185px;
  height: 185px;
  border-radius: 50%;

}

.copy{
  margin: 20px;
}

.belowimage{
  display: flex;
  justify-content: space-around;  
}

.belowimage img{
  width: 140px;
    height: 140px;
    border-radius: 50%;
}

.fullcircle{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 406px;
  height: 406px;
  top: 50%;
  margin: auto;
  left: auto;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 50%;
}


.leftimage{
  position: absolute;
  height: 135px;
  width: 135px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;

  top: 12%;
  left: -10%;
}

.rightimage{
  height: 135px;
  width: 135px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 76%;
}

.leftimage img{
  position: relative;
  width: 100px;
    height: 90px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.rightimage img{
  position: relative;
  width: 100px;
    height: 90px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.downimage{
  height: 135px;
  width: 135px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 82%;
  left: 34%;
}

.downimage img{
  position: relative;
  width: 100px;
  height: 90px;
  top: 0%;
  left: 0%;
  margin: auto;
}
.center-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  margin: auto;
  top: 18%;
}

.center-img img{
  position: relative;
  width: 120px;
  height: 105px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.innercircle{
display: flex;
justify-content: center;
  position: absolute;
  background: #a9aaab;
  border-radius: 50%;
  height: 250px;
  width: 250px;

  margin: auto;

 
  background: rgba(255, 255, 255, 0.2);
    
}
.copy{
  display: flex;
  flex-direction: row;
}

.color{

  color: white;
  text-align: center;
}
.login-form{
  margin: 2%;
}

@media only screen and (max-width: 550px) {

  .copy {
   
    margin-top: 15%;
}

  .fullcircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    height: 350px;
    top: 50%;
    margin: auto;
    left: auto;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 50%;
}
.leftimage {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 12%;
  left: -8%;

}

.leftimage img {
  position: relative;
  width: 70px;
  height: 58px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.rightimage{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 80%;
}

.rightimage img{
  position: relative;
  width: 70px;
    height: 58px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.downimage{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 88%;
  left: 37%;
}

.downimage img{
  position: relative;
  width: 70px;
  height: 58px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.innercircle{
  display: flex;
  justify-content: center;
    position: absolute;
    background: #a9aaab;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background: rgba(255, 255, 255, 0.2);
    left: auto;
  }



}


@media only screen and (max-width: 400px) {

  .form {
    z-index: 1;
    max-width: 265px;
    margin: 0 auto 100px;
    padding: 25px;
    /* text-align: center; */
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}
  .fullcircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 270px;
    height: 270px;
    top: 50%;
    margin: auto;
    left: auto;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 50%;
}
.leftimage {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 12%;
  left: -8%;

}

.leftimage img {
  position: relative;
  width: 60px;
  height: 60px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.rightimage{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 75%;
}

.rightimage img{
  position: relative;
  width: 60px;
  height: 60px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.downimage{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  
  top: 82%;
  left: 33%;

}

.copy {
  margin-top: 40%;
  
}

.downimage img{
  position: relative;
  width: 60px;
  height: 60px;
  top: 0%;
  left: 0%;
  margin: auto;
}

.innercircle{
  display: flex;
  justify-content: center;
    position: absolute;
    background: #a9aaab;
    border-radius: 50%;
    height: 175px;
    width: 175px;
    background: rgba(255, 255, 255, 0.2);
    left: auto;
  }

  .center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 22%;
}

.center-img img {
  position: relative;
  width: 70px;
  height: 70px;
  top: 0%;
  left: 0%;
  margin: auto;
}



}